.courses {
  width: 330px;
}
@media (max-width: 400px) {
  .courses {
    width: 300px;
  }
}
.search {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10%;
}

@media (max-width: 600px) {
    .search {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-left: 20%;
    }
  }