html{
    scroll-behavior: smooth;
}

.progress{
    /* background-color: #ee8738; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 50px;
    /* display: grid; */
    display: none;
    place-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    z-index: 1000;
}

.progress-value{
    display: block;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    background-color: rgb(207, 84, 207);
    /* background-color: rgb(128, 42, 128); */

    border-radius: 50%;
    display: grid;
    place-items: center;
    color: white;
    font-size: 30px;
    
}